/bin/
/builds/
settings.txt
/src/test.java
/Images/*
!Images/Destroyed-icon.png
!Images/Layer_dot.png
!Images/Not-enough-repair-packs-icon.png
/tests/
/example/*
!example/images for example.zip
!example/notes_example_export.txt