<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings>
  <last-notes-file>H:\Gaming\Factorio\any%_Nefrums.txt</last-notes-file>
  <color-settings current="Dark">
    <color-profile>
      <name>Light</name>
      <text>-16777216</text>
      <border>-16777216</border>
      <background>-1</background>
    </color-profile>
    <color-profile>
      <name>Dark</name>
      <text>-4144960</text>
      <border>-12566464</border>
      <background>-16777216</background>
    </color-profile>
    <color-profile>
      <name>Custom</name>
      <text>-16776961</text>
      <border>-16711936</border>
      <background>-65536</background>
    </color-profile>
  </color-settings>
  <hotkey-settings ctrl-workaround="true" current="">
    <hotkey-profile>
      <name>Default</name>
      <split>11,4,0</split>
      <reset>10,4,0</reset>
      <undo>2,4,0</undo>
      <skip>4,4,0</skip>
    </hotkey-profile>
    <hotkey-profile>
      <name>test</name>
      <split>37,1,34</split>
      <reset>32,1,170</reset>
      <undo>2,4,0</undo>
      <skip>4,4,0</skip>
    </hotkey-profile>
  </hotkey-settings>
</settings>
